#tooltip {
    position: absolute;
}
#controls {
    width: 60%;
}
#map {
    max-width: 100%;
}
#date-container {
    max-height: 5vh;
}
#popover {
    position: absolute;
}
.popover .arrow {
    visibility: hidden;
}
hr {
    margin: 1vh;
}