{% extends 'template.html' %}

{% block title %}
    COVID-19 Progression
{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="#">
    <style>
        #tooltip {
            position: absolute;
        }
        #controls {
            width: 60%;
        }
        #map {
            max-width: 100%;
        }
        #date-container {
            max-height: 5vh;
        }
    </style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <a class="navbar-brand">COVID-19 Progression</a>
    </nav>
    <div class="container-fluid p-3 mx-auto">
        <div class="d-flex justify-content-center align-items-center mx-auto" id="controls">
            <select class="selectpicker mr-3" data-style="btn-outline-primary" id="selector" disabled>
                <option>Cases</option>
                <option>Deaths</option>
                <option>Recoveries</option>
            </select>
            <input type="range" class="custom-range" value="0" step="1" id="slider" disabled>
            <button type="button" class="btn btn-outline-primary ml-3" id="transition" disabled>Play</button>
        </div>
        <div id="map" class="d-flex justify-content-center align-items-center mt-3"></div>
        <div id="date-container" class="d-flex justify-content-center align-items-center mt-3"></div>
    </div>
    <i id="tooltip" data-toggle="tooltip" data-placement="top" data-animation="false" data-html="true"></i>
{% endblock %}

{% block footer %}
<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="http://d3js.org/topojson.v3.min.js"></script>
<script src="../static/js/transition.js"></script>
{% endblock %}
