{% extends 'template.html' %}

{% block title %}
    COVID-19 Progression
{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="../static/covid-19.png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
{% endblock %}

{% block body %}
    <div class="container-fluid p-3 mx-auto">
        <div class="d-flex justify-content-center align-items-center mx-auto" id="controls">
            <select class="selectpicker mr-3" data-style="btn-outline-primary" id="selector" disabled>
                <option>Cases</option>
                <option id="deaths-option" disabled>Deaths</option>
                <option id="recovered-option" disabled>Recoveries</option>
            </select>
            <input type="range" class="custom-range" value="0" step="1" id="slider" disabled>
            <button type="button" class="btn btn-outline-primary ml-3" id="resume" disabled>Play</button>
            <button type="button" class="btn btn-outline-primary ml-3" id="pause" disabled>Pause</button>
        </div>
        <div id="map" class="d-flex justify-content-center align-items-center mt-3"></div>
        <div id="date-container" class="d-flex justify-content-center align-items-center mt-3"></div>
    </div>
    <i id="tooltip" data-toggle="tooltip" data-placement="top" data-animation="false" data-html="true"></i>
    <i id="popover" data-toggle="popover" data-placement="right" data-html="true"></i>
{% endblock %}

{% block footer %}
<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="https://d3js.org/topojson.v3.min.js"></script>
<script>let range = {{ range }}</script>
<script src="../static/js/serialized.js"></script>
<script src="../static/js/transition.js"></script>
{% endblock %}
