{% extends 'template.html' %}

{% block title %}
    COVID-19 Progression
{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="#">
    <style>
        #tooltip {
            position: absolute;
        }
    </style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <a class="navbar-brand">COVID-19 Progression</a>
    </nav>
    <div class="container-fluid p-3 mx-auto">
        <div class="d-flex justify-content-center align-items-center m-auto" style="width: 50%">
            <button type="button" class="btn btn-outline-primary mr-3" id="render">Render</button>
            <input type="range" class="custom-range" value="0" id="slider">
            <button type="button" class="btn btn-outline-primary ml-3" id="transition" disabled>Play</button>
        </div>
        <div id="map" class="container" style="display: inline-block; max-width: 100%"></div>
    </div>
    <i id="tooltip" data-toggle="tooltip" data-placement="top" data-animation="false" data-html="true"></i>
{% endblock %}

{% block footer %}
<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="http://d3js.org/topojson.v3.min.js"></script>
<script src="../static/js/transition.js"></script>
{% endblock %}
